.header
  background-color: trasparent
  z-index: 200
  transition: all 0.5s ease-in-out
  position: fixed
  max-height : 80px
  overflow: hidden
  width: 100%
  padding: 3px

  .header__inner
    display: table
    width: 100%

    +at-breakpoint(eq-palm)
      display: none

    .header__logo
      display: table-cell
      vertical-aling: middle

    .header__menu
      display: table-cell
      text-align: right
      vertical-align: middle

    .header__text
      color: #ED6E9B
      display: block

      .header__text__item
        display: inline-block
        padding-left: 2rem
        text-align: center

.headroom
  transition: transform 200ms linear

.headroom--pinned
  transform: translateY(0%)

.headroom--unpinned
  transform: translateY(-100%)

.header__hamburger
  vertical-align: middle
  font-size: $base-font-size * 1.8
  float: right
  display: none

  a
    color: $base-body-color
    text-decoration: none

  +at-breakpoint(eq-palm)
    display: table-cell

.header__logo--devices
  display: table-cell
  vertical-aling: middle  
  +at-breakpoint(gte-small-desk)
    display: none
