.panel
  z-index: 300
  position: fixed
  left: -15.625em
  width: 15.625em
  background-color: $light-bg-color 

  ul

  a
    color: $bca-primary
    border-bottom: 2px solid white
    display: block
    padding: 1em
    text-decoration: none
    &.lang
      background-color: $bca-primary 
      color: white
      text-transform: uppercase

