.project__sizer
  width: 25%

  +at-breakpoint(lte-lap)
    width: 50%

.project__item
  width: 25%
  transition: all .2s ease-in-out
  &:hover
    transform: scale(1.1)
    z-index: 100
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)

  .project__content
    width: 70%
    padding: 20% 2% 5% 5%
    p 
      margin-top: 10px    
  +at-breakpoint(lte-lap)
    width: 50%

.hitany, .tucano, .woldfort
  background-color: white

.alitalia
  background-color: #b2d1c5

.unicredit
  background-color: #f7f7f7

.napisan
  background-color: #222a65
  color: white

.sodexo
  background-color: #cdd2e8 

.ing
  background-color: #ff5812
  color: #000065  

.pc
  background-color: #e5bd56

.bio--oil
  background-color: #ffd7d7

.giravolte
  background-color: #3cc7f1

.totalerg
  background-color: #e44446
  color: white

.q8
  background-color: #ffb821

.sevengr
  background-color: #d9013e
  color: white

.lg
  background-color: #c2004d
  color: white

.benetton
  background-color: #23a74c
  color: white  

.monurelle
  background-color: #cc91c8
  color: white

.edreams
  background-color: #00259c
  color: white  
.tonno-nostromo
  background-color: #fff61a 
